html {
    position: relative;
    min-height: 100%
}

/* Body */
body {
    margin-top: 100px;
    margin-left: 70px;
    margin-bottom: 70px;
}


#wrapper .main {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 260px);
    left: 0;
    position: relative;
    float: right;
    background-color: #f5f5fa; }
  

.main-content {
    padding: 28px 10px; }
  
  .navbar + .main-content {
    padding: 105px 0 28px 5px; }
    @media screen and (max-width: 767px) {
      .navbar + .main-content {
        padding-top: 155px; } }

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#beranda{
    width: 100%;
    padding: 0;
    background-color: #fff;
    margin-left: -10px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #beranda {
        padding: 10px;
    }
}

#suratmasuk {
    width: 100%;
    margin-left: 20px;
    padding: 5px;
}
#suratmasuk .col-lg-12>.panel{
    background-color: rgb(241, 241, 241);
}
#suratmasuk .row>.col-lg-12 .panel-body{
    font-size: 30px;
}
#suratmasuk .row>.col-lg-12 .page-title-subheading{
    font-size: 12px;
}


#suratkeluar{
    width: 100%;
    padding: 5px;
    margin-left: 20px;
}
#suratkeluar .col-lg-12>.panel{
    background-color: rgb(241, 241, 241);
}
#suratkeluar .row>.col-lg-12 .panel-body{
    font-size: 30px;
}
#suratkeluar .row>.col-lg-12 .page-title-subheading{
    font-size: 12px;
}

.text {
    font-size: 25px;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b10202;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

#user {
    margin-left: 20px;
}

#departement {
    margin-left: 20px;
}
/* Body */


h2 {
    border-bottom: 1px solid #000;
}

.heading {
    border-bottom: 1px solid #000;
    width: 60px;
    padding-bottom: 5px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    margin-left: -70px;
    background-color: #222;
}
#footer>p {
    color: #999;
}

.box-button {
    display: inline-block;
}

hr {
	background-color: #d0d0d0;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
    height: 1px;
	border: none
}

.table-nav, .tombol-nav {
    display: block;
    clear: both;
    float: left;
    width: 100%;
}

.tombol-nav {
    margin-top: 10px;
    margin-bottom: 70px;
}

.table-nav {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.jumlah-data, .paging {
    height: 50px;
    display: block;
}

.jumlah-data {
    float: left;
    padding-top: 15px;
}

.paging {
    float: right;
    text-align: right;
}

.paging ul.pager, .paging ul.pagination {
    text-align: right;
}

ul.pagination, ul.pager {
    margin-top: 8px;
}

#pencarian{
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}


/* Top Navigation */
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    /* float: left; */
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    left: -0px;
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

.top-nav>li>a>img {
    width: 20px;
    margin-right: 3px;
    margin-top: -4px;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        bottom: 0px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/********************
 * PAGE: PROFILE
 ********************/
 .panel-profile {
    position: relative; }
  
  .profile-left {
    padding-left: 0;
    float: left;
    width: 35%;
    height: 100%;
    position: absolute;
    background-color: #F8F8F8; }
  
  .profile-right {
    float: right;
    width: 65%;
    padding: 20px 25px; }
    .profile-right .heading {
      margin-top: 0; }
  
  @media screen and (max-width: 992px) {
    .profile-left,
    .profile-right {
      float: none;
      width: 100%; }
    .profile-left {
      position: relative;
      margin-bottom: 30px; } }
  
  .profile-header {
    position: relative;
    text-align: center;
    color: #fff; }
    .profile-header .overlay {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2); }
    .profile-header .profile-main {
      position: relative;
      padding: 20px;
      background-image: url("../fileupload/anim.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .profile-header .name {
      margin: 8px 0 0 0;
      font-size: 22px; }
    .profile-header .online-status {
      font-size: 13px;
      position: relative;
      top: -2px; }
      .profile-header .online-status:before {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        content: '';
        width: 8px;
        height: 8px;
        margin-right: 3px; }
      .profile-header .online-status.status-available:before {
        background-color: #41B314; }
    .profile-header .profile-stat {
      position: relative;
      background-color: #00AAFF; }
      .profile-header .profile-stat .stat-item {
        padding: 20px;
        position: relative; }
        .profile-header .profile-stat .stat-item:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
          background-color: #33bbff; }
        .profile-header .profile-stat .stat-item:last-child:after {
          display: none; }
      .profile-header .profile-stat .stat-item span {
        display: block; }
    @media screen and (max-width: 1023px) {
      .profile-header .profile-stat .stat-item:after {
        display: none; } }
  
  .profile-detail {
    padding-bottom: 30px; }
  
  .profile-info {
    padding: 0 20px;
    margin: 40px 0; }
    .profile-info .heading {
      margin: 0 0 10px 0;
      font-weight: 600; }
    .profile-info ul > li {
      margin-bottom: 8px; }
  
/* tabs */
.custom-tabs-line ul {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .custom-tabs-line ul > li {
      float: left; }
      .custom-tabs-line ul > li a {
        color: #8d9093;
        font-weight: normal; }
        .custom-tabs-line ul > li a:hover, .custom-tabs-line ul > li a:focus {
          color: rgb(7, 131, 255);
          background-color: transparent; }
        .custom-tabs-line ul > li a:focus {
          outline: none; }
    .custom-tabs-line ul.nav-pills a:hover, .custom-tabs-line ul.nav-pills a:focus {
      color: #fff;
      background-color: #3a4e58; }
  
  .custom-tabs-line.tabs-line-bottom {
    border-bottom: 1px solid #eaeaea; }
    .custom-tabs-line.tabs-line-bottom ul > li {
      margin-bottom: -1px; }
    .custom-tabs-line.tabs-line-bottom a {
      border-bottom: 1px solid transparent; }
    .custom-tabs-line.tabs-line-bottom .active a {
      border-bottom: 2px solid #324550; }
  
  .custom-tabs-line.left-aligned {
    text-align: left; }
  
  .custom-tabs-line.right-aligned {
    text-align: right; }
  
  @media screen and (max-width: 768px) {
    .custom-tabs-line ul li.active > a {
      margin-bottom: -1px; } }
  
  .tab-pane {
    padding: 25px 15px; }

    
/********************
 * TYPOGRAPHY
 ********************/
  
  ul.list-justify > li {
    margin-bottom: 5px; }
    ul.list-justify > li span {
      float: right; }
  
  